.info-perfil{
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 20px auto; /* Margem menor e centralização horizontal */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 115px;
}
.info-perfil h2{
    margin-top: 0;
}

.info-perfil p {
    margin-bottom: 10px;
}
.edit-perfil {
    max-width: 500px;
    margin: 20px auto; /* Margem menor e centralização horizontal */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 115px;
}
.edit-perfil label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-perfil input[type="text"],
.edit-perfil input[type="email"],
.edit-perfil input[type="password"],
.edit-perfil input[type="tel"],
.edit-perfil input[type="date"]

{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-perfil button {
    display: block; /* Para usar margin: 0 auto; */
    margin: 10px auto; /* Centraliza o botão */
    width: 50%;
    padding: 10px;
    background-color: #00ffff;
    color: rgb(0, 0, 0);
    border: none; /* Removido a borda */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra correta */
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transição de background e transform */
}

.edit-perfil button:hover {
    background-color: #00cccc; /* Cor de fundo mais escura no hover */
    transform: scale(1.05); /* Efeito de escala no hover */
}

.edit-perfil .error {
    color: red;
    font-size: 14px;
}