/* Estilos html, body */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    box-shadow: 0px 0px 10px #333;
    color: #fff;
    text-shadow: 2px 2px 4px aqua ;
  }
  
  /* Logo do header */
  header h1 {
    text-decoration: none;
    display: inline-block;
    transition: .03s;
  }

  header h1:hover{
    transform: scale(0.9);
    color: aqua;
  }
  
  header a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: .02s;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    margin: 0 0px;
    
  }

   header a:hover{
    transform: scale(0.9);
    color: aqua;
   }
  /* Botão de menu */
  .menu-button {
    font-size: 1.2em;
    background-color: #444;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Estilos do menu */
  nav {
    display: none; /* Oculto inicialmente */
    background-color: #333;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    text-align: center;
    
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Ajustes para telas grandes */
  @media (min-width: 768px) {
    nav {
      display: block;
      width: auto;
    }
    
    nav ul {
      display: flex;
    }
    
    nav ul li {
      margin: 0 15px;
    }
  }